# Dependencies
node_modules/

# Environment variables
.env

# WhatsApp Session & Database (IMPORTANT: Do not commit this)
auth_session/
postgres_data/

# Generated QR Code
qrcode.png

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db
